<h1>displaying all comments</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<h2> <%= @message%> </h2>

<!-- in theory, have a forall loop that would put out all comments, or @comment array as defined in the comments controller -->


