<h1>Add a new comment</h1>

<form action="/comments" method="post">
	<input type="text" name="name" placeholder ="name"/>
	<textarea name="description"></textarea>
	<input type="submit" value="submit a comment!">
</form>

<p>Find me in app/views/comments/new.html.erb</p>
